<div class="container">

  
  <div> <h1> Verificar clima </h1> </div>

  <div class="form-container">
  
      <input class="input-form" type="text" required placeholder="Digite o nome da cidade">
      <button class="search-button"> <i class="fa-solid fa-magnifying-glass"></i> </button>
  
  </div>
  <hr>
  <div class="wheater-data-container">

    <div class="city-container">

      <i class="fa-solid fa-location-dot"></i> 
      <h2 class="city">  Santos </h2>
      <img class="img-country" src="https://flagsapi.com/BR/flat/64.png ">

    </div>

    <div class="temperature-container">
      <p class="temperature"> 40&deg;C	 </p>
    </div>

    <div class="description-container">
      <p class="description">Nublado</p>
      <img src="" alt="condições do tempo" class="wheater-icon">
    </div>

    <div class="details-container">

      <div class="umidity-container"> 
        <i class="fa-solid fa-droplet"></i>
        <p class="umidity">39%</p>   
      </div>
      
      <div class="wind-container">
        <i class="fa-solid fa-wind"></i>
        <p class="wind">2km/h</p>
      </div>

    </div>

  </div>

</div>